/* PHASE 4: Footer */
/* body {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 900px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
}

.copyright {
  padding: 0 10px;
}

.footer-nav > ul {
  padding: 0 10px;
  display: flex;
}
.footer-nav > li {
  padding: 0 10px;
}